node_modules/
**/node_modules/
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Python
__pycache__/
*.pyc
venv/
.venv/
ai-service/model/*.onnx
ai-service/model/*.data
.qai_hub/
client.ini

ai-service/model/*.dlc
