PORT=5000
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_HOST>/finance-tracker?retryWrites=true&w=majority
NODE_ENV=development
JWT_SECRET=<YOUR_JWT_SECRET>
JWT_EXPIRES_IN=7d
